.navbar{
    background-color: #202a25;
}

.navbar > a {
    color: #f2efea;
}

.navbar .navbar-nav > li > a {
    color: #8963ba;
}

.navbar .navbar-nav > li:hover > a {
    color: #f2efea;
}

.navbar .navbar-nav .active > a {
    color: #f2efea;
}

.navbar .navbar-toggler{
    border-color: transparent;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(242,239,234, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.footer-dark{
    background-color: #202a25;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}